<div class="build-header" id="build-header">

  <h1 class="heading">We are rebuilding. <a id="build-reveal" class="build-reveal" href="#">Join us.</a></h1>

  <div class="build-body">
    <div class="explanation-wrapper">
      <div class="explanation">
        <div class="sb-logo"></div>
        <p>
        We are rebuilding our site&mdash;live at <a href="http://building.seesparkbox.com">building.seesparkbox.com</a>.
        Join us, real-time, as the site evolves. It will be ugly at times.
        Sometimes it will be downright broken.
        But it will always be transparent and real. You can even check under the
        hood of the <a href="https://github.com/sparkbox/sparkbox-website">public repo</a> on Github and share your ideas.
        Crazy, are we? <a href="http://seesparkbox.com/foundry/rebuilding_in_public">Read why we're doing this.</a>
        </p>
      </div>
    </div>

    <div class="rebuild-links-wrapper">
      <div class="rebuild-links">

        <div class="posts">
          <h2>Posts About the Rebuild</h2>
          <ol class="date-list">
            <li>
            <time datetime="2013-02-18" class="dl-when">13-02-18</time>
            <a href="http://seesparkbox.com/foundry/our_new_build_process" class="dl-what">Our New Build Process</a>
            </li>
            <li>
            <time datetime="2012-12-19" class="dl-when">12-12-19</time>
            <a href="http://seesparkbox.com/foundry/content_and_style_prototyping_the_rebuild" class="dl-what">Content And Style Prototyping the Rebuild</a>
            </li>
            <li>
            <time datetime="2012-12-11" class="dl-when">12-12-11</time>
            <a href="http://seesparkbox.com/foundry/planning_to_rebuild_part_2" class="dl-what">Planning To Rebuild: Part 2</a>
            </li>
            <li>
            <time datetime="2012-11-26" class="dl-when">12-11-26</time>
            <a href="http://seesparkbox.com/foundry/planning_to_rebuild_part_1" class="dl-what">Planning To Rebuild: Part 1</a>
            </li>
            <li>
            <time datetime="2012-11-16" class="dl-when">12-11-16</time>
            <a href="http://seesparkbox.com/foundry/rebuilding_in_public" class="dl-what">Rebuilding In Public</a>
            </li>
            <li>
            <time datetime="2012-11-16" class="dl-when">12-11-16</time>
            <a href="http://seesparkbox.com/foundry/rebranding_sparkbox" class="dl-what">Rebranding Sparkbox</a>
            </li>
          </ol>
        </div>

        <div class="deliverables">
          <h2>Rebuild Deliverables</h2>
          <ol class="date-list">
            <li>
            <time datetime="2013-02-18" class="dl-when">13-02-18</time>
            <a href="https://github.com/sparkbox/project-init" class="dl-what">project-init Repo</a>
            </li>
            <li>
            <time datetime="2012-12-19" class="dl-when">12-12-19</time>
            <a href="http://building.seesparkbox.com/content-prototype/index.php" class="dl-what">Content Prototype</a>
            </li>
            <li>
            <time datetime="2012-12-19" class="dl-when">12-12-19</time>
            <a href="http://building.seesparkbox.com/style-prototype/" class="dl-what">Style Prototype</a>
            </li>
            <li>
            <time datetime="2012-11-26" class="dl-when">12-11-26</time>
            <a href="http://building.seesparkbox.com/downloads/seesparkbox_site_v2_planning.pdf" class="dl-what">Initial Sitemap</a>
            </li>
            <li>
            <time datetime="2012-11-26" class="dl-when">12-11-26</time>
            <a href="http://building.seesparkbox.com/downloads/seesparkbox_site_taxonomy.pdf" class="dl-what">Working Taxonomy</a>
            </li>
          </ol>
        </div>

      </div>

      <div class="deliverables">
        <h2>Rebuild Deliverables</h2>
        <ol class="date-list">
          <li>
          <time datetime="2012-12-19" class="dl-when">12-12-19</time>
          <a href="http://building.seesparkbox.com/content-prototype/index.php" class="dl-what">Content Prototype</a>
          </li>
          <li>
          <time datetime="2012-12-19" class="dl-when">12-12-19</time>
          <a href="http://building.seesparkbox.com/style-prototype/" class="dl-what">Style Prototype</a>
          </li>
          <li>
          <time datetime="2012-11-26" class="dl-when">12-11-26</time>
          <a href="http://building.seesparkbox.com/downloads/seesparkbox_site_v2_planning.pdf" class="dl-what">Initial Sitemap</a>
          </li>
          <li>
          <time datetime="2012-11-26" class="dl-when">12-11-26</time>
          <a href="http://building.seesparkbox.com/downloads/seesparkbox_site_taxonomy.pdf" class="dl-what">Working Taxonomy</a>
          </li>
        </ol>
      </div>

    </div>
    </div>

    <div class="site-links-wrapper">
      <div class="site-links">
        <a class="external-link" href="http://building.seesparkbox.com">Go to the new site rebuild</a>
        <a class="external-link" href="http://seesparkbox.com">Go to our current live site</a>
      </div>
    </div>
  </div>

</div>
