<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Dissecting Design on the Sparkbox Foundry</title>
  <meta name="description" content="Description of article">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
<!-- <meta name="msapplication-TileColor" content="#73c5d3"/>
     <meta name="msapplication-TileImage" content="sbx_144x144.png"/> -->
  
  <!--[if (lt IE 9) & (!IEMobile)]>
    <link href="/css/no-mq.css" rel="stylesheet">
  <![endif]-->
  <!--[if (gte IE 9) | (IEMobile)]><!-->
    <link href="/css/mq.css" rel="stylesheet">
  <!--<![endif]-->

  <!-- <script src="/js/modernizr.js"></script> -->
</head>
<body>

<header>

  <img class="" src="i/sparkbox-logo.png" alt="Sparkbox Web Design and Development">

  {{> _primary-nav }}

</header>