<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Sparkbox is rebuilding.</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!--[if gt IE 8]><!--><link rel="stylesheet" href="/css/mq.css"><!--<![endif]-->
  <!--[if lt IE 9]><link rel="stylesheet" href="/css/no-mq.css"><![endif]-->
  <!--[if lt IE 7]><script src="js/libs/lte-ie7.js"></script><![endif]-->
  <script src="js/libs/modernizr.js"></script>
</head>
<body>
<header>
  <h1 class="logo">
    <a href="/" class="logo-link">
      <span aria-hidden="true" data-icon="&#xe000;"></span>
      <span class="logo-text">Sparkbox</span>
    </a>
  </h1>
  <nav>
    <h3>
    <span aria-hidden="true" data-icon="&#xe001;"></span>
    <span class="menu-text">Menu</span>
    </h3>
    <ol>
      <li><a href="#" class="nav-item">Team</a></li>
      <li><a href="#" class="nav-item">Belief</a></li>
      <li><a href="#" class="nav-item">Work</a></li>
      <li><a href="#" class="nav-item">Foundry</a></li>
      <li><a href="#" class="nav-item">Contact</a></li>
    </ol>
  </nav>
</header>
