<div class="hero-wrapper">
  
  <section class="hero">

  <div class="icon-wrapper">
    <div class="chain-icon">
      <span aria-hidden="true" class="chain-left" data-icon="&#xe001;"><!--chain-left--></span>
      <span aria-hidden="true" class="chain-right" data-icon="&#xe000;"><!--chain-right--></span>
      <span class="screen-reader-text">Expand</span>
    </div>
  </div>

  <div class="hero-teaser">

    <!--I think this ought to be an h1-->
    <!--If you disagree, fight me-->
    <h1 class="ht-header">Set Your Site Free.</h1>
    <p>For the fluidity of your content, for the integrity of your vision, for the
    cause of a more durable web.</p>

  </div>

  <div class="hero-more">
    <div class="hero-seal">
      <img src="/images/sparkbox-seal.svg" alt="Build right for a better web" />
    </div>
    <div class="hero-more-text">
      <p>Rooted in the American heartland, <a href="team.php">our team of craftsmen</a>
      answers the call for a <a href="#">better web</a>. Driven by deep
      conviction in a web liberated of device constraints, Sparkbox leads toward <a href="#">a greater standard</a>
      as we <a href="#">write</a>, <a href="#">educate</a>, and <a href="#">build</a>.</p>

      <p>We invite you to <a href="#">join us</a>. </p>
    </div>
  </div>

  </section>

</div>

