<nav>
  <span class="show-nav clickable">Navigate</span>

  <ol class="nav nav-{{primary-nav.class_name}}">
    {{#each primary-nav.menu}}
    <li class="nav-topLevel"><a class="clickable" href="{{target}}" title="{{title}}">{{title}}</a></li>
    {{/each}}
  </ol>
</nav>