<header class="site-header">
  <h1 class="logo">
    <a href="/" class="logo-link">
      <span aria-hidden="true" data-icon="&#xe000;"></span>
      <span class="logo-text">Sparkbox</span>
    </a>
  </h1>
  <nav class="site-nav">
    <a class="nav-button">
      <span aria-hidden="true" data-icon="&#xe001;"></span>
      <span class="menu-text">Menu</span>
    </a>
    <ol>
      <li><a href="#" class="nav-item">Team</a></li>
      <li><a href="#" class="nav-item">Belief</a></li>
      <li><a href="#" class="nav-item">Work</a></li>
      <li><a href="#" class="nav-item">Foundry</a></li>
    </ol>
  </nav>
</header>
