header{
  width: 100%;
  display: block;
  background-color: $black;
  color: white;
  float:left;
}

.logo-link{
  text-decoration: none;
}

.logo{
  margin: 0;
  padding: 0;
  display: block;
  position: relative;

  @include sbmedia($nav-can-fit){
    width: 50%;
    float: left;
  }

  [data-icon]:before{
    @include sb-font;
    @include rem("padding", .8, 1.4, .9, 1.4);
    display: block;
    width: auto;
    float: left;
    background-color: $blue;
    color: black;
    @include rem("font-size", 2);

    @include sbmedia($logo-visible){
      @include rem("font-size", 3.2);
      display: inline-block;
      float:none;
    }
  }

  .logo-text{
    display: none;
    text-indent: -999em;
    color: transparent;
    background-image: url("../images/sparkbox-text-logo.svg");
    background-repeat: no-repeat;
    max-width: 144px;
    -webkit-background-size: 100%;
    background-size: 100%;

    @include sbmedia($logo-visible){
      display: inline-block;
      width:100%;
      position: relative;
      top: -6px;
      left:15px;
    }
  }
}

nav{

  ol{
    display: block;
    list-style: none;
    padding:0;
    margin:0;
    text-align: center;
    clear: both;
    @include rem("padding-top", .5);

    .js &{
      display: none;

      @include sbmedia($nav-can-fit){
        display: block !important;
      }
    }

    @include sbmedia($nav-can-fit){
      display: block;
      float: right;
      clear:none;
      @include rem("padding-top", 1.7);
      width: 50%;
    }
  }

  h3{
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
    @include rem("padding-top", 1.3);
    cursor: pointer;

    [data-icon]:before{
      @include sb-font;
      position: relative;
      top:4px;

      @include sbmedia($logo-visible){
        @include rem("font-size", 2.3);
      }
    }

    @include sbmedia($logo-visible){
      position: absolute;
      top:0;
      right:3%;
    }

    @include sbmedia($nav-can-fit){
      display: none;
    }
  }

  .menu-text{
    @include sbmedia($logo-visible){
      display: none;
    }
  }

  li{
    width: 40%;
    margin-left: 5%;
    @include rem("padding", .3, 0, .3, 0);
    float:left;
    text-transform:uppercase;
    @include rem("font-size", .8);

    &:nth-child(3), &:nth-child(4){
      @include rem("padding-bottom", .7);
    }

    @include sbmedia($logo-visible){
      width:auto;
    }
  }

  a{
    color: white;
    text-decoration: none;
    @include rem("padding-right", .5);

    &:visited{
      color: white;
    }
  }
}
