/* Windows Metro Snap mode fix */
@-ms-viewport {
  width: device-width;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

[data-icon]:before {
  font-family: sb-icon-font;
  content: attr(data-icon);
  speak: none;
}

// Chill out, colors will be extracted and moved to the _colors file

.hero-wrapper {
  overflow: hidden;
  position: relative;
  background: #232323;

  @include breakpoint( 45em, $no-query: $nomq ){
    border: 30px solid #575757;
  }
}

.hero {
  // hero
  // we translate this thing to show dropdown animation
  float: left;
  width: 100%;
  background: #242424;
  @include transform( translate3d( 0, 0, 0 ) );

  .js &.more-revealed {
    // this is the final state set
    // after animations happen
    height: auto;
  }
}

.hero-teaser {
  // first "slide" of hero.
  // this slides down when .hero-more is revealed
  background: #242424;
  padding: 0 30px 30px;
  width: 100%;
  text-align: center;

  .js .more-revealed & {
    // this is the final state set
    // after animations happen
    position: absolute;
    bottom: 100%;
  }

  @include breakpoint( 40em ){
    padding: 0 50px 50px;
  }
  
  .ht-header {
    // ht-header = hero-teaser-header
    @extend %no-mp;
    padding-bottom: 1em;
    color: #e9fcff;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.1em;

    @include breakpoint( 25em ){
      font-size: 2em;
    }
    @include breakpoint( 55em ){
      font-size: 3.5em;
    }
  }
  > p {
    @extend %no-mp;
    @extend %type-serif;
    color: #a3eaf5;
    line-height: 1.9;
    font-size: 1.1em;
    max-width: 33em;
    margin: 0 auto;
  }
}

.icon-wrapper {
  // this guy wraps the chain icon
  background: #242424;
  width: 100%;
  text-align: center;
  @include rem( height, 4 );
  @include breakpoint( 40em ){
    @include rem( padding-bottom, 8 );
  }

  .js .more-revealed & {
    // this is the final state set
    // after animations happen
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
}
.chain-icon {
  @include transform( translate3d( 0, 0, 0 ) ); // prevent flicker in safari
  position: relative;
  display: inline-block;
  color: #73c5d2;
  cursor: pointer;
  margin-top: -1.4em;
  @include breakpoint( 40em ){
    margin-top: -2em;
  }

  [data-icon] {
    font-size: 80px;
    font-family: sb-icon-font;
  }
  .chain-left {
    @include transition( all 0.2s );
    @include transform( translate3d( 0, 0, 0 ) );
    display: inline-block;
  }
  .chain-right {
    @include transition( all 0.2s );
    @include transform( translate3d( 0, 0, 0 ) );
    display: inline-block;
    margin-left: -0.56em;
  }
  &.broken, .more-revealed &, &.hoverable:hover {
    // chain is broken when it has a class of broken,
    // when it has an ancestor of .more-revealed
    // or when it is hovered
    .chain-left {
      @include transform( translate3d( -0.1em, 0.05em, 0 ) rotate( -6deg ) );
    }
    .chain-right {
      @include transform( translate3d( 0.1em, 0.05em, 0 ) rotate( 6deg ) );
    }
  }
  @include breakpoint( 40em ){
    [data-icon] {
      font-size: 140px;
    }
  }
}

.hero-more {
  // second "slide" of hero.
  // this is hidden initially,
  // but slides into view when revealed
  background: #cbf8ff;
  color: #265e67;
  float: left;
  width: 100%;

  .js & {
    // hide up out of view, out of flow
    position: absolute;
    bottom: 100%;
  }

  .js .more-revealed & {
    // this is the final state set
    // after animations happen
    position: static;
    @include rem( padding-bottom, 4 );

    @include breakpoint( 40em ){
      @include rem( padding-bottom, 8 );
      display: table;
    }
  }
}

.hero-more-text {
  padding: 30px;

  p {
    @extend %no-mp;
    @extend %type-serif;
    line-height: 1.9;
    font-size: 1.1em;
  }
  a {
    color: inherit;
  }

  @include breakpoint( 35em ){
    display: table-cell;
    vertical-align: middle;
  }
}

.hero-seal {
  background: #a3eaf5;
  padding: 30px;
  text-align: center;
  @include breakpoint( 35em ){
    display: table-cell;
    vertical-align: middle;
    width: 33.333%;
  }

  img {
    width: 100%;
    max-width: 210px;
  }
}
